body {
    font-family: poppins !important;
}




/* banner-slider */
.slick-dots li button {
    border: 1px solid #666;
    border-radius: 50px;
}

.slick-dots li.slick-active button:before {
    background: #666;
    border-radius: 50px;
}
.slick-dots li button:before {
    font-size: 0;
}
.slick-prev, .slick-next {
    width: 30px;
    height: 30px;
    background: #666;
    color: #fff;
    border-radius: 50px;
    z-index: 10;
}
.slick-prev {
    left: 5px;
}
.slick-next {
   right: 5px; 
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    color: #fff;
    background: #666;
}


/* animation */
@keyframes firsting
{
    0%   {top: 0; left: 0;}
    50%  {top: 10px; left: 10px;}
    100% {top: 0; left: 0;}
}
.firsting {
    position: relative;
    -webkit-animation: firsting 4s ease-in-out infinite;
    animation: firsting 4s ease-in-out infinite;
}
/* our service */
.service-content {
  transition: all 1s ease;
  z-index: -1;
  opacity: 0;
}
.service-item:hover .service-content {
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
}
/*project filter */
.active-gallery-item a{ 
  color: #FBBF24;
}
.projects-item {
  transition: all .3s ease;
}
.projects-items .active{
  width: 33.333333%;
  z-index: 1;
}
.projects-items .delete{
  width: 0%;
  z-index: -1;
  padding: 0;
  margin: 0;
  transition: all .3s ease;
}
.project-content {
  z-index: -1;
  opacity: .8;
  transition: all .5s ease;
  overflow: hidden;
}
.prijects-item:hover .project-content {
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}
/* sticky header  */
  .sticky {
    position: fixed;
    top: 0 !important;
    width: 100%;
  }
  

/* navigation menu  */
  .topnav #myLinks {
    right: 0px;
    height: 750px;
  }
  
  .topnav a.icon {
    right: 20px;
    top: calc(50% - 20px);;
  }
  
  /* bars menu  */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 8px);
    transform: rotate(-45deg) translate(-5px, 8px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-6px, -9px);
  }

  









  @media only screen and (min-width: 1024px) {
    .banner-slider-item {
        display: flex !important;
    }
  }

  @media only screen and (max-width: 1024px) {
    .projects-items .active{
      width: 50%;
    }
  }
  
  @media only screen and (max-width: 639px) {
    .projects-items .active{
      width: 100%;
    }
  }
@import "responsive.css";